




/* ---------------------------- 固定菜单媒体查询 ---------------------------------------------------*/
/* 改变左右margin */
@media only screen and (max-width: 1280px ){
	.fixed-menu .fixed-logo{
		margin-left: 48px;
	}
	.fixed-menu ul{
		margin-right: 48px;
	}
}
/* 改变左右margin */
@media only screen and (max-width: 900px ){
	.fixed-menu .fixed-logo{
		margin-left: 24px;
	}
	.fixed-menu ul{
		margin-right: 24px;
	}
}
/* 将菜单折叠 */
@media only screen and (max-width: 1023px ){
	.fixed-menu {
		padding-bottom: 4px;
	}
	.fixed-menu ul.menu-list{
		display: none;
	}
	.fixed-menu ul.menu-icon{
		display: inline-block;
	}
}
/* 改变左右margin */
@media only screen and (max-width: 480px ){
	.fixed-menu .fixed-logo{
		margin-left: 15px;
	}
	.fixed-menu ul{
		margin-right: 15px;
	}
}
/* 改变其尺寸 */
@media only screen and (max-width: 375px ){
	.fixed-menu .fixed-logo{
		height: 48px;
	}
	.fixed-menu ul.menu-icon{
		padding: 10px 6px 0 6px;
	}
	.fixed-menu ul.menu-icon i{
		font-size: 36px;
	}
}/* end ------------------------------------------------------------------------------------------------- */

/* header内的logo */
@media only screen and (max-width: 1023px){
	.home-header .logo-wrapper{
		padding-top: 180px;
	}
}
@media only screen and (max-width: 480px ){
	.home-header .logo-wrapper{
		padding-top: 140px;
		padding-bottom: 64px;
	}
}


/* ---------------------------- header 内的标题 ----------------------------------------------------------*/
@media only screen and (max-width: 900px ){
	.home-header .title-wrapper h2 span{
		display: block;
	}
	.home-header .title-wrapper h2 span:nth-child(2){
		display: none;
	}
}
@media only screen and (max-width: 1023px ){
	.home-header .title-wrapper{
		padding-top: 0;
	}
}
@media only screen and (max-width: 640px ){
	.home-header .title-wrapper h2{
		font-size: 20px;
	}
	.home-header .title-wrapper h2 span{
		font-size: 36px;
	}
}
@media only screen and (max-width: 480px ){
	.home-header .title-wrapper{
		padding-bottom: 72px;
	}
}
@media only screen and (max-width: 414px ){
	.home-header .title-wrapper h2{
		font-size: 18px;
		padding: 0 15px;
	}
	.home-header .title-wrapper h2 span{
		font-size: 32px;
	}
}
/*  end  -------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 1023px ){
	/* header 内的菜单 */
	.home-header ul.menu{
		display: none;
	}
}

/* 固定菜单展开样式的媒体查询 ----------------------------------------------------------------------------*/
@media only screen and (max-width: 320px ){
	.fixed-expanded-menu ul li{
		margin: 4px 0;
	}
	.fixed-expanded-menu ul li.logo-li{
		padding: 12px 0 4px 0;
	}
	.fixed-expanded-menu ul li img{
		height: 48px;
	}
	.fixed-expanded-menu ul li a{
		padding: 8px 0;
		font-size: 14px;
	}
}

/* about section ----------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1280px ){
	.about-section{
		margin-top: 48px;
		padding: 0 72px;
		padding-bottom: 96px;
	}
	.about-section h2{
		font-size: 36px;
		padding: 20px 0;
	}
	.about-section .col-left dl{
	 	margin-bottom: 16px;
	}
	.about-section .more{
		top: 24px;
		right: 72px;
	}
}
@media only screen and (max-width: 1024px ){
	.about-section{
		margin-top: 39px;
		padding: 0 36px;
		padding-bottom: 56px;
	}
	.about-section h2{
		font-size: 32px;
		padding: 18px 0;
	}
	.about-section .more{
		top: 20px;
		right: 36px;
	}
}
@media only screen and (max-width: 900px ){
	.about-section .col-left{
		width: 100%;
	}
	.about-section .col-right{
		width: 100%;
		margin-top: 24px;
	}
	.about-section .more{
		position: static;
		padding: 32px 0 0 0;
	}
	.about-section .more a{
		padding-top: 12px;
		padding-bottom: 12px;
	}
}
@media only screen and (max-width: 480px ){
	.about-section{
		margin-top: 24px;
		padding: 0 15px;
		padding-bottom: 24px;
	}
	.about-section h2{
		padding: 16px 0;
	}
	.about-section .col-left dl dd{
		line-height: 1.4;
	}
	.about-section .col-right{
		margin-top: 12px;

	}
}
@media only screen and (max-width: 360px ){
	.about-section .col-left dl dd{
		line-height: 1.3;
	}
}

/* blog section ------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1280px ){
	.blog-section{
		padding: 84px 72px 96px 72px;
	}
	.blog-section h2{
		font-size: 36px;
	}
	.blog-section .more{
		top: 88px;
		right: 72px;
	}
}
@media only screen and (max-width: 1024px ){
	.blog-section{
		padding: 72px 36px 72px 36px;
	}
	.blog-section h2{
		font-size: 32px;
	}
	.blog-section .more{
		top: 74px;
		right: 36px;
	}
}
@media only screen and (max-width: 900px ){
	.blog-section .col{
		width: 49%;
	}
	.blog-section .col:nth-of-type(1),.blog-section .col:nth-of-type(2),.blog-section .col:nth-of-type(3){
		margin-right: 0%;
	}
	.blog-section .col:nth-of-type(1),.blog-section .col:nth-of-type(3){
		margin-right: 2%;
	}
	.blog-section .more{
		position: static;
	}
	.blog-section .more a{
		padding: 12px 0;
	}
}
@media only screen and (max-width: 480px ){
	.blog-section{
		padding: 48px 15px 56px 15px;
	}
	.blog-section .col{
		width: 100%;
	}
	.blog-section .col:nth-of-type(1),.blog-section .col:nth-of-type(2),.blog-section .col:nth-of-type(3){
		margin-right: 0%;
	}
}

/* events-section ------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1280px ){
	.events-section{
		padding: 108px 72px 96px 72px;
	}
	.events-section h2{
		font-size: 36px;
	}
	.events-section .lg-col .wrapper > div .part-2 p{
		line-height: 1.4;
	}
	.events-section .calendar{
		margin: 84px 0 56px 0;
	}
}
@media only screen and (max-width: 1150px ){
	.events-section .lg-col .wrapper > div .part-1 p:nth-of-type(1){
		padding-top: 48px;
	}
	.events-section .lg-col .wrapper > div .part-2{
		padding-top: 4px;
	}
	.events-section .lg-col .wrapper > div .part-2 p{
		line-height: 1.2;
	}
	.events-section .lg-col .wrapper > div .part-2 a{
		margin-top: 4px;
	}
}
@media only screen and (max-width: 1024px ){
	.events-section{
		padding: 84px 36px 72px 36px;
	}
	.events-section h2{
		font-size: 32px;
	}
	.events-section .calendar{
		margin: 72px 0 48px 0;
	}
}
@media only screen and (max-width: 900px ){
	.events-section .lg-col{
		width: 100%;
	}
	.events-section .col-left{
		margin-bottom: 36px;
	}
	.events-section .lg-col .wrapper > div .part-1 p:nth-of-type(1){
		padding-top: 78px;
	}
	.events-section .lg-col .wrapper > div .part-2{
		padding-top: 24px;
	}
	.events-section .lg-col .wrapper > div .part-2 p{
		line-height: 1.6;
	}
	.events-section .lg-col .wrapper > div .part-2 a{
		margin-top: 12px;
	}
	.events-section .calendar{
		margin: 56px 0 40px 0;
	}
	.events-section .calendar span{
		display: block;
		margin-bottom: 12px;
	}
	.events-section .col{
		width: 100%;
		margin-bottom: 24px;
	}
	.events-section .col-wrapper > div.col:nth-of-type(3n+2){
		margin-right: 0%;
		margin-left: 0%;
	}
}
@media only screen and (max-width: 640px ){
	.events-section .calendar select{
		display: block;
		margin-bottom: 12px;
		width: 100%;
		text-align: center;
	}
	.events-section .calendar a{
		display: block;
		margin-bottom: 12px;
		width: 100%;
	}
	.events-section > a{
		display:block;
		background: #666;
		color: #fefefe;
		padding: 8px 0;
	}
}
@media only screen and (max-width: 620px ){
	.events-section .lg-col .wrapper > div .part-2 p{
		line-height: 1.4;
	}
}
@media only screen and (max-width: 575px ){
	.events-section .col-left{
		margin-bottom: 24px;
	}
	.events-section .lg-col .wrapper > div .part-1 p:nth-of-type(1){
		padding-top: 36px;
	}
	.events-section .lg-col .wrapper > div .part-2{
		padding-top: 4px;
	}
	.events-section .lg-col .wrapper > div .part-2 p{
		line-height: 1.2;
	}
	.events-section .lg-col .wrapper > div .part-2 a{
		margin-top: 4px;
	}
}
@media only screen and (max-width: 480px ){
	.events-section{
		padding: 48px 15px;
	}

}
@media only screen and (max-width: 479px ){
	.events-section .lg-col .wrapper > div{
		top: 0;
	}
	.events-section .lg-col .wrapper > div .part-1{
		height: 100%;
	}
	.events-section .lg-col .wrapper > div .part-1 p:nth-of-type(1){
		padding-top: 24px;
	}
}

/*  media-section --------------------------------------------------------------------------------------  */
@media only screen and (max-width: 1280px ){
	.media-section{
		padding: 120px 72px 100px 72px;
	}
	.media-section > h2{
		font-size: 36px;
	}
	.media-section > a{
		top: 126px;
		right: 72px;
	}
}
@media only screen and (max-width: 1024px ){
	.media-section{
		padding: 90px 36px 80px 36px;
	}
	.media-section > h2{
		font-size: 32px;
	}
	.media-section > a{
		top: 96px;
		right: 36px;
	}
}
@media only screen and (max-width: 1000px ){
	.media-section .row{
		padding-left: 240px;
	}
	.media-section .row .div-a{
		position: static;
	}
}
@media only screen and (max-width: 900px ){
	.media-section > a{
		position: static;
		display: block;
		padding: 12px 0;
		margin-top: 24px;
	}
}
@media only screen and (max-width: 600px ){
	.media-section .row{
		padding: 16px;
	}
	.media-section .row img{
		display: none;
	}
}
@media only screen and (max-width: 480px ){
	.media-section{
		padding: 48px 15px;
	}
}

/* footer -------------------------------------------------------------------------------------------  */
@media only screen and (max-width: 1280px ){
	.footer-part-1{
		padding: 120px 72px 50px 72px;
	}
}
@media only screen and (max-width: 1080px ){
	.footer-part-1 .col{
		width: 50%;
	}
	.footer-part-1 .col:nth-of-type(3n+2){
		margin-left: 0%;
		margin-right: 0%;
	}
	.footer-part-1 .col:nth-of-type(2) img{
		display: none;
	}
}
@media only screen and (max-width: 1024px ){
	.footer-part-1{
		padding: 102px 36px 40px 36px;
	}
}
@media only screen and (max-width: 916px ){
	.footer-part-1 > p input{
		width: 100%;
		margin-bottom: 24px;
	}
	.footer-part-1 > p button{
		width: 100%;
	}
}
@media only screen and (max-width: 900px ){
	.footer-part-1 .col{
		width: 100%;
	}
	.footer-part-1 .col:nth-of-type(1){
		margin-bottom: 48px;
	}
	.footer-part-1 .col:nth-of-type(1) p{
		margin-top: 18px;
	}
	.footer-part-1 .col:nth-of-type(3) a{
		margin-top: 18px;
	}
}
@media only screen and (max-width: 680px ){
	.footer-part-1 > p input{
		font-size: 24.25px;
		text-indent: 8px;
	}
	.footer-part-1 .coll{
		width: 100%;
		text-align: left;
	}
	.footer-part-1 .info .coll:nth-of-type(2){
		margin: 0 0 24px 0;
	}
	.footer-part-1 .info .coll{
		margin-bottom: 24px;
	}
}
@media only screen and (max-width: 500px ){
	.footer-part-1 > p input{
		font-size: 20.25px;
	}
}
@media only screen and (max-width: 428px ){
	.footer-part-1 > p input{
		font-size: 16.25px;
	}
}
@media only screen and (max-width: 380px ){
	.footer-part-1 .col:nth-of-type(1) p{
		height: 38px;
		margin-top: 28px;
	}
	.footer-part-1 .col:nth-of-type(1) p i{
		font-size: 48px;
	}
	.footer-part-1 .col:nth-of-type(3) a{
		padding: 14px 0;
		margin-top: 28px;
	}
	.footer-part-1 > p{
		margin: 72px 0 56px 0;
	}
	.footer-part-1 > p input{
		height: 48px;
		font-size: 13.25px;
	}
	.footer-part-1 > p button{
		height: 48px;
	}
}

/* about.html ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1240px ){
	.about-banner{
		padding: 0 75px;
	}
	.about-info .section{
		padding: 24px 75px;
	}
}
@media only screen and (max-width: 900px ){
	.about-banner{
		padding: 0 32px;
	}
	.about-info .section{
		padding: 24px 32px;
	}
}
@media only screen and (max-width: 767px ){
	.about-banner{
		padding: 0;
		margin-bottom: 12px;
	}
	.about-info .section{
		padding: 24px 15px;
	}
	.about-info .section h2{
		font-size: 24px;
	}
	.about-info .section h2 span{
		font-size: 19px;
	}
	.about-info .section p{
		font-size: 15.25px;
	}
}

/* blog-list.html ------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1240px ){
	.blog-main > h2{
		padding: 0 75px;
	}
	.blog-main > div{
		padding: 24px 75px;
	}
}
@media only screen and (max-width: 900px ){
	.blog-main > h2{
		padding: 0 32px;
	}
	.blog-main > div{
		padding: 24px 32px;
	}
}
@media only screen and (max-width: 767px ){
	.blog-main > h2{
		padding: 0 15px;
	}
	.blog-main > div{
		padding: 24px 15px;
	}
}
@media only screen and (max-width: 639px ){
	.blog-main{
		padding: 64px 0 20px 0;
	}
	.blog-main > h2{
		font-size: 28px;
	}
	.blog-main > div h3{
		font-size: 20px;
	}
	.blog-main > div p{
		font-size: 15px;
	}
}

/* blog detail ---------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1240px ){
	.blog-detail-main{
		padding: 64px 32px 36px 32px;
	}
}
@media only screen and (max-width: 900px ){
	.blog-detail-main{
		padding: 64px 15px 36px 15px;
	}
}
@media only screen and (max-width: 767px ){
	.blog-detail-main .left-col , .blog-detail-main .right-col ,.blog-detail-main > img , .blog-main , .blog-aside{
		width: 100%;
	}
	.blog-aside{
		padding: 0;
	}
	.blog-aside ul{
		padding: 0 0 0 15px;
	}
}

/* partner.html --------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1240px ){
	.partners{
		padding: 12px 72px;
	}
}
@media only screen and (max-width: 900px ){
	.partners{
		padding: 12px 32px;
	}
}
@media only screen and (max-width: 767px ){
	.partners{
		padding: 12px 15px;
	}
}
@media only screen and (max-width: 500px ){
	.partners .main h2{
		font-size: 24px;
		text-align: left;
	}
}


/* 常用查询临界点 -------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1px ) and (max-width:319px){

}

@media only screen and (min-width: 320px ) and (max-width:359px){

}

@media only screen and (min-width: 360px ) and (max-width:374px){

}

@media only screen and (min-width: 375px ) and (max-width:413px){

}

@media only screen and (min-width: 414px ) and (max-width:479px){

}

@media only screen and (min-width: 480px ) and (max-width:599px){

}

@media only screen and (min-width: 600px ) and (max-width:639px){

}

@media only screen and (min-width: 640px ) and (max-width:767px){

}

@media only screen and (min-width: 768px ) and (max-width:799px){

}

@media only screen and (min-width: 800px ) and (max-width:899px){

}

@media only screen and (min-width: 900px ) and (max-width:1023px){

}

@media only screen and (min-width: 1024px ) and (max-width:1279px){

}

@media only screen and (min-width: 1280px ) and (max-width:1365px){

}

@media only screen and (min-width: 1366px ) and (max-width:1439px){

}

@media only screen and (min-width: 1440px ) and (max-width:1679px){

}

@media only screen and (min-width: 1680px ) and (max-width:1919px){

}

@media only screen and (min-width: 1920px ){

}



























